<section>
  <h1>Github Repos</h1>
  <ul id="gh_repos2">
    <li class="loading">Status updating...</li>
  </ul>
  <a href="https://github.com/grails-plugin-consortium">@grails-plugin-consortium</a> on Github
  <script type="text/javascript">
    $.domReady(function(){
        github.showRepos({
            user: 'grails-plugin-consortium',
            count: 5,
            skip_forks: true,
            target: '#gh_repos2'
        });
    });
  </script>
  <script src="{{ root_url }}/javascripts/github.js" type="text/javascript"> </script>
</section>
